
<!-- content -->
<section id="homeFullScreen" data-stellar-background-ratio="0.5">
    <div class="maskParent">
        <div class="paralaxMask"></div>
        <div id="fullScreenSliderWrapper">
            <div id="logoBig">
                <img class="img-responsive" src="/images/logoLarge-flag.png" alt="Greenflag full service software development" />
            </div>

            <div class="flexslider" id="flexHome">
                <ul class="slides">
                    <li>
                        <h1>Software Solutions</h1>
                    </li>
                    <li>
                        <h1>Full Stack Development</h1>
                    </li>
                    <li>
                        <h1>LOB Applications Tailored to Your Business</h1>
                    </li>
                    <li>
                        <h1>Workflows and Business Process Automation</h1>
                    </li>
                    <li>
                        <h1>Data Access and Cloud Technologies</h1>
                    </li>
                </ul>
            </div>
            <a href="#about" class="homeBtn btn"><i class="icon-down"></i>learn more</a>
        </div>
    </div>
</section>

<!-- about us -->
@Html.Partial("_About")
  <!-- about us -->
<!-- services -->
@Html.Partial("_Services")
<!-- services -->
<div id="paralaxSlice2" class="color4" data-stellar-background-ratio="0.5">
    <div class="maskParent">
        <div class="paralaxMask"></div>
        <div class="paralaxText container">
            <i class="icon-mobile iconBig"></i><i class="icon-tablet iconBig"></i><i class="icon-laptop iconBig"></i>
            <blockquote class="bigTitle">Targeted Technology...,<br /> to Accelerate Your Business</blockquote>
        </div>
    </div>
</div>
<!--works-->
@Html.Partial("_Works")
<!--works-->
<div id="paralaxSlice1" data-stellar-background-ratio="0.5">
    <div class="maskParent">
        <div class="paralaxMask"></div>
        <div class="paralaxText">
            <i class="icon-star iconBig"></i>
            <blockquote class="bigTitle">We are judged by what we finish,<br />not what we start.<br /><small>Anonymous</small></blockquote>
        </div>
    </div>
</div>

<!--technologies-->
@Html.Partial("_Technologies")
<!--technologies-->
<div id="paralaxSlice4" data-stellar-background-ratio="0.5">
    <div class="maskParent">
        <div class="paralaxMask"></div>

        <div class="paralaxText">
            <blockquote>Keep in touch with us</blockquote>

        </div>
    </div>
</div>
<!--contact-->
@Html.Partial("_Contact")
<!--contact-->
<!-- call to action -->
<div class="container mb15">
    <div class="row">
        <div class="col-md-12">
            <div class="color1 ctaBox ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>
                                <strong>Greenflag Software ...</strong> a full stack software development firm with great experience, vision, and a desire to help you succeed.
                            </h1>

                        </div>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- call to action -->